.headphones-logo-footer {
  width: 170px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  padding: 0;
}

.footer img {
  margin-bottom: 0;
}

.footer p {
  margin: 0;
}